{% load mathfilters %}
<!doctype html>
<html>
  <head>
    {% include 'pdf/styles.html' %}
  </head>
  <body>
    {% include 'pdf/meta.html' %}
    <div class="main-title">
      <h2 class="line-up-down line-grey simple-shadow padding">COTIZACIÓN</h2>
    </div>

    <div class="info">
      <p>
        Cusco, {{ cotizacion.fecha }} 
      </p>
      <p>
        Señores:<br>
        {{ cotizacion.cliente }} ({{ cotizacion.cliente.numero_documento }})
      </p>
      <p>Att: Unidad de Logística</p>
      <p class="line-down text-right big">
        <strong>Referencia:</strong> "{{ cotizacion.referencia }}"
      </p>
    </div>

    <div class="details">
      <table class="table table-bordered" repeat="1">
        <thead>
          <tr>
            <th class="padding-cell">Cantidad</th>
            <th class="padding-cell">Und. Med.</th>
            <th class="padding-cell">Código</th>
            <th class="wide-percent padding-cell">Descripcion</th>
            <th class="wide-percent padding-cell">Marca</th>
            <th class="padding-cell">Precio Unit. Inc. IGV S./</th>
            <th class="padding-cell">Precio Total Inc. IGV S./</th>
          </tr>
        </thead>
        <tbody class="detalles">
          {% for detalle in cotizacion.cotizaciondetalle_set.all %}
          <tr>
            <td class="text-right padding-cell">{{ detalle.cantidad }}</td>
            <td class="padding-cell">{{ detalle.producto.unidad_medida }}</td>
            <td class="padding-cell">{{ detalle.producto.codigo }}</td>
            <td class="padding-cell">{{ detalle.producto }}</td>
            <td class="padding-cell">{{ detalle.producto.marca }}</td>
            <td class="text-right padding-cell">{{ detalle.precio_unitario }}</td>
            <td class="text-right padding-cell">{{ detalle.cantidad|mul:detalle.precio_unitario|floatformat:2 }}</td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="7" class="padding-cell"><small>{{cotizacion.glosa}}</small></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6" class="text-right padding-cell"><strong>Total:</strong></td>
            <td colspan="1" class="text-right padding-cell">
              {{ cotizacion.total_cotizacion|floatformat:2 }}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>

    <div class="footer">
      <ul>
        <li>Postor: HAMPI KALLPA E.I.R.L.</li>
        <li>RUC: 20564106861</li>
        <li>Dirección: Clorida Matto de Turner 303 Cusco</li>
        <li>Teléfono: 084-221985 - Fax; 084-221985</li>
        <li>Plazo de Entrega: {{cotizacion.plazo}} días de recibida la orden de compra.</li>
        <li>Validez de la oferta: {{cotizacion.validez}} días</li>
      </ul>

      <p>Las O/C serán recibidas vía fax (084-221985) <u>Asimismo deberán confirmar la recepción</u> al teléfono 084-221985 y al mail: hampikallpa@gmail.com</p>

      <p>Aténtamente,</p>
    </div>
  </body>
</html>