{% load mathfilters %}
<html>
<head>
<style type="text/css">
  @page {
    size: a4 portrait;

    @frame cliente {             /* Content frame 1 */
        left: 44pt; width: 245pt; top: 90pt; height: 632pt;
    }
    @frame guia {             /* Content frame 2 */
        left: 323pt; width: 245pt; top: 90pt; height: 632pt;
    }
  }
</style>
</head>
<body>
  <div id="cliente">
    {{venta.cliente}}
    {{venta.cliente.numero_documento}}
    {{venta.cliente.direccion}} - {{venta.cliente.ciudad}} - {{venta.cliente.distrito}}
  </div>

  <div id="guia">
    {{venta.fecha_emision|date:"d/m/Y"}}
    {{venta.numero_guia}}
  </div>

  <div id="codcliente">
    {{venta.cliente.codcliente}}
  </div>

  <div id="oc">
    {{venta.orden_compra}}
  </div>

  <div id="condiciones">
    {{venta.condiciones}}
  </div>

  <div id="vencimiento">
    {{venta.vencimiento|date:"d/m/y"}}
  </div>

  <div id="condiciones">
    {{venta.quien}}
  </div>

  <div id="condiciones">
    {{venta.hora}}
  </div>

  <div id="detalles">
    {% for detalle in venta.ventadetalle_set.all %}
      {{detalle.codigo}}
      {{detalle.cantidad}}
      {{detalle.lote.producto}}
      {{detalle.lote.numero}}
      {{detalle.lote.vencimiento|date:"d/m/y"}}
      {{detalle.precio_unidad}}
      {{detalle.total}}
    {% endfor %}
  </div>
  
</body>
</html>