{% load mathfilters %}
<!doctype html>
<html>
  <head>
    {% include 'pdf/styles.html' %}
  </head>
  <body>
    {% include 'pdf/meta.html' %}
    <div class="main-title">
      <h2 class="line-up-down line-grey simple-shadow padding">Detalles de la Venta</h2>
    </div>

    <div class="info">
      <p class="text-right frame">
        <strong>Número:</strong> {{ venta.pk }} 
      </p>
      <p>
        <strong>Fecha:</strong> {{ venta.fecha }} 
      </p>
      <p>
        <strong>Almacén:</strong> {{ venta.almacen }} <strong>Tipo de Venta:</strong> {{ venta.get_tipo_venta_display }}
        {% if venta.tipo_venta == 'P' %}
        <strong>Estado:</strong> {{ venta.deuda.get_estado_display }}
        {% endif %}
      </p>
      <p>
        <strong>Documento:</strong> {{ venta.get_documento_display }}
        <strong>Número de documento:</strong> {{ venta.numero_documento }}
        <strong>Fecha del documento:</strong> {{ venta.fecha_documento }}
      </p>
      <p class="line-down">
        <strong>Cliente:</strong> {{ venta.cliente }} ({{ venta.cliente.numero_documento }})
      </p>
    </div>

    <div class="details">
      <table class="table table-bordered" repeat="1">
        <thead>
          <tr>
            <th class="padding-cell">Código</th>
            <th class="wide-percent padding-cell">Producto</th>
            <th class="padding-cell">Cantidad</th>
            <th class="padding-cell">Unitario</th>
            <th class="padding-cell">Subtotal</th>
            <th class="padding-cell">% Descuento</th>
            <th class="padding-cell">Total</th>
          </tr>
        </thead>
        <tbody class="detalles">
          {% for detalle in venta.ventadetalle_set.all %}
          <tr>
            <td class="padding-cell">{{ detalle.producto.codigo }}</td>
            <td class="padding-cell">{{ detalle.producto }}</td>
            <td class="text-right padding-cell">{{ detalle.cantidad }}</td>
            <td class="text-right padding-cell">{{ detalle.precio_unitario }}</td>
            <td class="text-right padding-cell">{{ detalle.cantidad|mul:detalle.precio_unitario|floatformat:2 }}</td>
            <td class="text-right padding-cell">{{ detalle.descuento }}</td>
            {% with subtotal=detalle.cantidad|mul:detalle.precio_unitario %}
              {% with descmul=subtotal|mul:detalle.descuento %}
                {% with descuento=descmul|div:100 %}
                <td class="text-right padding-cell">{{ subtotal|sub:descuento|floatformat:2 }}</td>
                {% endwith %}
              {% endwith %}
            {% endwith %}
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6" class="text-right padding-cell"><strong>Venta Total:</strong></td>
            <td colspan="1" class="text-right padding-cell">
              {{ venta.total_venta|floatformat:2 }}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    {% if venta.tipo_venta == 'P' %}
    <hr>
    <div class="pay">
      <div class="page-header mini">
        <h5 class="line-up-down line-grey simple-shadow padding">Amortizaciones</h5>
      </div>
      <table class="table table-striped table-condensed table-bordered small" repeat="1">
        <thead>
          <tr>
            <th class="padding-cell">Fecha</th>
            <th class="padding-cell">Recibido por</th>
            <th class="padding-cell">Monto</th>
            <th class="padding-cell">Saldo</th>
          </tr>
        </thead>
        <tbody class="detalles">
          {% for amortizacion in amortizaciones %}
          <tr>
            <td class="padding-cell">{{ amortizacion.fecha }}</td>
            <td class="padding-cell">{{ amortizacion.recibido_por.first_name }}</td>
            <td class="text-right padding-cell">{{ amortizacion.monto }}</td>
            <td class="text-right padding-cell">{{ amortizacion.saldo }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </body>
</html>