{% extends 'front/base.html' %}
{% block content %}{% load static %}
<div class="page-header">
  <h3><i class="fa fa-file icon-new"></i> Créditos
    <span class="small pull-right">
      <button class="btn btn-default btn-sm reset"><i class="fa fa-filter"></i> Quitar Filtros</button>
      <button class="btn btn-success btn-sm print" data-toggle="modal" data-target="#modal-print"><i class="fa fa-file-excel-o"></i> Exportar a Excel</button>
    </span>
  </h3>
</div>
<table class="table table-striped table-bordered small" id="table">
  <thead>
    <tr>
      <th class="filter-select filter-exact" data-placeholder="Almacén">Almacén</th>
      <th>Fecha</th>
      <th>Nro. Doc.</th>
      <th>Total Venta</th>
      <th>Saldo</th>
      <th>Cliente</th>
      <th>Días deuda</th>
      <th>Nro Venta</th>
      <th class="filter-select filter-exact" data-placeholder="Estado">Estado</th>
      <th class="sorter-false">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for deuda in deudas %}
    <tr class="{% if deuda.atrasado > 24 and deuda.estado == 'D' %}danger{% endif %}" data-numero="{{ deuda.pk }}">
      <td>{{ deuda.registro_padre.almacen }}</td>
      <td>{{ deuda.registro_padre.fecha|date:"d b Y" }}</td>
      <td>{{ deuda.registro_padre.numero_documento }}</td>
      <td class="text-right">{{ deuda.total }}</td>
      <td class="text-right">{{ deuda.saldo }}</td>
      <td>{{ deuda.registro_padre.cliente }}</td>
      <td>{{ deuda.atrasado }} días</td>
      <td>{{ deuda.registro_padre.pk }}</td>
      <td class="{% if deuda.estado == 'D'%}text-danger{% else %}text-success{% endif %}">{{ deuda.get_estado_display }}</td>
      <td class="text-center">
        <a class="btn btn-sm btn-warning" href="{% url 'venta_view' deuda.registro_padre.id %}" title="Ver detalles"><i class="fa fa-folder-open"></i></a>
        <a class="btn btn-sm btn-info" href="{% url 'venta_print' deuda.registro_padre.id %}"><i class="fa fa-print"></i></a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="10" class="text-center">No hay deudas registradas</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th colspan="10" class="ts-pager form-horizontal">
        <button type="button" class="btn first"><i class="icon-step-backward glyphicon glyphicon-step-backward"></i></button>
        <button type="button" class="btn prev"><i class="icon-arrow-left glyphicon glyphicon-backward"></i></button>
        <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
        <button type="button" class="btn next"><i class="icon-arrow-right glyphicon glyphicon-forward"></i></button>
        <button type="button" class="btn last"><i class="icon-step-forward glyphicon glyphicon-step-forward"></i></button>
        <select class="pagesize input-mini" title="Select page size">
          <option selected="selected" value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="9999">Todos</option>
        </select>
        <select class="pagenum input-mini" title="Número de página"></select>
      </th>
    </tr>
  </tfoot>
</table>
{% endblock %}

{% block title %}Créditos{% endblock %}

{% block css %}
<link rel="stylesheet" media="screen" href="{% static "front/bower_components/jquery.tablesorter/css/theme.bootstrap.css" %}">
{% endblock %}
{% block js %}
<script src="{% static "front/bower_components/jquery.tablesorter/js/jquery.tablesorter.min.js" %}"></script>
<script src="{% static "front/bower_components/jquery.tablesorter/js/jquery.tablesorter.widgets.min.js" %}"></script>
<script src="{% static "front/bower_components/jquery.tablesorter/js/jquery.tablesorter.widgets-filter-formatter.min.js" %}"></script>
<script src="{% static "front/bower_components/jquery.tablesorter/addons/pager/jquery.tablesorter.pager.min.js" %}"></script>
<script src="{% static "front/js/table-sorter.js" %}"></script>
<script src="{% static "front/js/main.js" %}"></script>
{% endblock %}

{% block modals %}
<form class="form" action="{% url 'excel_deudas' %}" method="POST">
  <div class="modal fade" id="modal-print" tabindex="-1" role="dialog" aria-labelledby="modal-print-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
          <h4 class="modal-title" id="modal-print-label">Reporte en Excel</h4>
        </div>
        <div class="modal-body">
          <div class="form-inline">
            <div class="form-group">
              <input type="text" name="inicio" class="form-control datepicker" placeholder="Fecha Inicial" required>
            </div>
            <div class="form-group">
              <input type="text" name="fin" class="form-control datepicker" placeholder="Fecha Final" required>
            </div>
          </div>
          <div class="form-group">
            <div class="radio">
              <label>
                <input type="radio" name="tipo" value="todos" checked>
                Todos
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="tipo" value="cancelados">
                Cancelados
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="tipo" value="deudas">
                Deudas
              </label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          {% csrf_token %}
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary"><i class="fa fa-download"></i> Generar</button>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}