{% extends 'base.html' %}
{% load user_groups %}
{% block content %}
<div class="row">
  <div class="col-md-4 intro">
    <h3 class="text-success">¡BIENVENIDO {{ user.first_name }}!</h3>
    <p>Tienes disponible las siguientes opciones:</p>
  </div>
  <div class="col-md-8 padding">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Ventas</div>
          <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'ventas' %}">Relación de Ventas</a></li>
            <li class="list-group-item"><a href="{% url 'deudas' %}">Relación de Créditos</a></li>
            <li class="list-group-item"><a href="{% url 'venta' %}">Registrar Venta</a></li>
          </ul>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Almacén</div>
          <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'entradas' %}">Relación de Entradas</a></li>
            <li class="list-group-item"><a href="{% url 'salidas' %}">Relación de Salidas</a></li>
            <li class="list-group-item"><a href="{% url 'entrada' %}">Registrar Entrada</a></li>
            <li class="list-group-item"><a href="{% url 'salida' %}">Registrar Salida</a></li>
          </ul>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Diario</div>
          <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'gastos' %}">Relación de Gastos</a></li>
            <li class="list-group-item"><a href="{% url 'gasto' %}">Registrar Gasto</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">Informes</div>
          <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'liquidacion' %}">Liquidación</a></li>
            <li class="list-group-item"><a href="{% url 'inventario' %}">Inventario</a></li>
            <li class="list-group-item"><a href="{% url 'clientes' %}">Lista de Clientes</a></li>
            <li class="list-group-item"><a href="{% url 'proveedores' %}">Lista de Proveedores</a></li>
          </ul>
        </div>
        {% ifusergroup Administradores %}
        <div class="panel panel-default">
          <div class="panel-heading">Administración</div>
          <ul class="list-group">
            <li class="list-group-item"><a href="/admin" target="_blank">Administración</a></li>
          </ul>
        </div>
        {% endifusergroup %}
      </div>
    </div>

  </div>
</div>

{% endblock %}